<!DOCTYPE html>
<html lang="fr">
{# Head #}

<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Icon -->
    <link rel="icon" href="#" type="image/png">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e2b423cc67.js" crossorigin="anonymous"></script>
    <!-- CSS -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Raleway:wght@600&display=swap"
          rel="stylesheet">
    <title>Attribution-Points</title>

    <!-- Wow.js-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>


</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">PointsUser</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse2">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link active">Home</a>

            </div>
            <form class="d-flex ms-auto mx-1">
                <input type="text" class="form-control me-sm-2" placeholder="Search">
                <button type="submit" class="btn btn-outline-light">Search</button>
            </form>
            <a href="{{ path('app_login') }}" class="btn btn-danger mx-1">Connexion</a>
            <a href="{{ 'app_register' }}" class="btn btn-secondary">Inscription</a>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}

</body>